.App {
  text-align: center; 
  
}

.display{
    width: 900px;
    height: 600px;
    left: 0;
    right: 0;
    top: 5%;
    margin: auto;
    background-color: #e8d1b1;
    background-image: url('./img/sticker_bg.jpg');
    background-size: contain;
    position: absolute;
    overflow:hidden;
   
    
/*    cursor: none;*/
}

.controls{
    padding: 1%;
    width: 200px;
    height: 370px;
    position: absolute;
    top:5%;
    left: 0;
    background-color: rgba(250,250,150,0.5);
}



.allImgs{
    position: absolute;
}