
.container{
            position: absolute;
            top: 0;
            left: 0;
            background-image: url("./comp/img/bg0.png");
            background-size:cover;
            background-repeat: no-repeat;
            background-position:center;
            width: 100%;
            height: 100%;
            overflow: hidden;
}

.userListPanel{
    width: 20%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: -20%;
    background-color: ghostwhite;
    z-index: 999;
}


.panelList_username{
 position: absolute;
 top:0;
 width: 100%;
 height: 10%;
 color: white;
 background-color: #4B99F7; 

}
.showUser{
    position: absolute;
    width: 10%;
    height: 10%;
    top:0;
    right: 100%;
    border-radius: 3px;
    bottom: 0;
     margin: auto; 
     background-color: #4B99F7; 
    
}
.panelList_text{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; 
  text-align: center;
  width: 100%;
  height: 30%;
}

.allusersDisplay{
     overflow: auto;
  position: absolute;
  top:15%;
  left: 0;
  right: 0;
  margin: auto; 
  text-align: center;
  width: 90%;
  height: 80%; 
   text-align: center;
    
}


.chattingBox{
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
}


 .loginBox{
            position: absolute;
          background: rgba(0, 0, 0, 0.5);
            border-radius: 7px;
            width: 600px;
            height: 400px;
            top:0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;    
        }
        
        .loginBox_inside{
            position: absolute;
/*          background-color: deeppink; */
            align-items: center;
            width: 80%;
            height: 55%;
            top:0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;   
            
        }
        
        
        .loginBut1 {
            
            position: absolute;
           
            left: 0;
            margin: auto;
            bottom: 0px;
             width: 30%;
            height: 35%;
            background-color: #4B99F7;
            color: black;
            font-size: 26px;
            border: none;
            cursor: pointer;
            border-radius: 7px;
            text-align: center;
            color: aliceblue
        }

        .loginBut1:hover {
            background-color: #f9e8af;
            color: black;
        }

 .loginBut2 {
            
            position: absolute;
            right: 0px;
            left: 0;
            margin: auto;
            bottom: 0px;
            width: 30%;
            height: 35%;
            background-color: #4B99F7;
            color: black;
            font-size: 26px;
            border: none;
            cursor: pointer;
            border-radius: 7px;
            text-align: center;
            color: aliceblue
        }

        .loginBut2:hover {
            background-color: #f9e8af;
            color: black;
        }

 .loginBut3 {
            
            position: absolute;
           
            right: 0;
            margin: auto;
            bottom: 0px;
            width: 30%;
            height: 35%;
            background-color: #4B99F7;
            color: black;
            font-size: 26px;
            border: none;
            cursor: pointer;
            border-radius: 7px;
            text-align: center;
            color: aliceblue
        }

        .loginBut3:hover {
            background-color: #f9e8af;
            color: black;
        }
        
.loginInp{
  display:block;
    width: 100%;
    padding: 15px 0 15px 12px;
    font-weight: 400;
    color: #377D6A;
    background: rgba(0,0,0,0.3);
    border: none;
    outline: none;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px  1px rgba(255,255,255,0.2);
    text-indent: 60px;
    transition: all .3s ease-in-out;
    position: relative;
    font-size: 13px;
}
.loginInp:focus{
    text-indent: 12px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
}
 
.chattingBox_sending{
            position: absolute;
            background-color: #4B99F7; 
            width: 100%;
            height: 70px;
            left: 0;
            bottom: 0;
    z-index: 999;
        }

.chattingBox_sendingMsg{
            position: absolute;
            width: 90%;
            height: 50%;
            top:0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto; 
/*            float:left;*/
        }
.chattingMsgInp{
            position: absolute;
            top:0;
            left: 0;
            width: 65%;
            height: 100%;
            background-color: #f1f1f1;
            color: black;
            font-size: 16px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;  
    
}
.chattingMsgBut{
            position: absolute;
            top:0;
            right: 11%;
            width: 20%;
            height: 100%;
            background-color: #f1f1f1;
            color: black;
            font-size: 16px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
    
}
.chattingMsgSet{
            position: absolute;
            top:0;
            right: 0;
            width: 7%;
            height: 100%;
            background-color: #f1f1f1;
            color: black;
            font-size: 16px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
    
}

.chattingBox_display{
            position: absolute;
            background-color: rgba(250,250,250, 0.5); 
            width: 100%;
            height: 70%;
            left: 0;
            bottom: 70px;
    
}
.chattingMsg{
            position: absolute;
       
            width: 95%;
            height: 90%;
            top:0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto; 
            text-align: left;
            overflow: auto;

}

.speech-bubble {
   
    position: relative;
	background-color: white;
    width: 88%;
    border-radius: 10px;
    left: 60px;
	

   
    word-wrap:break-word;
    padding: 20px;
   
}

.speech-bubble:after {
	
    content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: -10px;
   right: auto;
    top: 50%;
	bottom: auto;
	border: 12px solid;
	border-color: white white transparent transparent;
}

.speech-img{
    position: relative;
    top: 50px;
    left: 0px;

   
    word-wrap:break-word;
  
    width: 50px;
    height: 50px;
    background-image: url("../src/comp/img/icon.png");
    background-size: cover;
    background-repeat: no-repeat;
    
}


.ben{
  position: absolute;
 width: 400px;
  bottom:-20px;
  left:-40px;
 
  z-index: 1;   
}
.alex{
  position: absolute;
  width: 400px;
 
  bottom:-20px;
  right:-40px;
  
  z-index: 1;      
}
.ben:hover {
     -webkit-animation-name: mymove; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: mymove;
    animation-duration: 1s;
     animation-iteration-count: infinite;
    
}
.alex:hover {
     -webkit-animation-name: mymove; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: mymove;
    animation-duration: 1s;
     animation-iteration-count: infinite;
    
}
@-webkit-keyframes mymove {
    0%   {bottom: 0px;}
    50%  {bottom: 10px;}
    100% {bottom: 0px;}
}

@keyframes mymove {
    0%   {bottom: 0px;}
    50%  {bottom: 10px;}
    100% {bottom: 0px;}
}





.ben2{
  position: absolute;

 width: 400px;
  bottom:-20px;
  left:-40px;
 -webkit-animation-name: myscale; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: myscale;
    animation-duration: 1s;
  z-index: 1;   
}

.alex2{
  position: absolute;
 width: 400px;
  bottom:-20px;
  right:-40px;
 -webkit-animation-name: myscale; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: myscale;
    animation-duration: 1s;
  z-index: 1;   
}

@-webkit-keyframes myscale {
    0%   {transform:scale(1)}
    50%  {transform:scale(1.5)}
    100% {transform:scale(1)}
}

@keyframes myscale {
    0%   {transform:scale(1)}
    50%  {transform:scale(1.5)}
    100% {transform:scale(1)}
}

.benInfo{
     position: absolute;
    width: 400px;
    height: 200px;
  top:20px;
  left:20px;
   opacity: 0;
    word-wrap:break-word;
    font-size: 20px;
}

.alexInfo{
     position: absolute;
     width: 400px;
     height: 200px;
     top:20px;
     right:20px;
     opacity: 0;
    font-size: 20px;
    text-overflow: clip;
    word-wrap:break-word;
}


